h1 {
  text-align: center;
  margin-bottom: 30px
}
li {
  line-height: 2em;
  font-size: 16px
}
ol {
  margin-bottom: 30px
}
footer {
  text-align: center
}
.input-sm {
  margin-left: 20px
}
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.haskell-logo {
  font-family: Haskell;
}

#minutes ul {
  list-style-type: none;
  background-color: #eee;
}
#minutes ul ul {
  background-color: #ddd;
  margin: 0 0 0 -40px;
  padding: 0;
}
#minutes ul ul li {
  font-size: 70%;
  border: 0 solid silver;
  border-width: 1px 0 0 0;
}
