h1 {
  margin-bottom: 30px;
  font-family: Ubuntu, sans-serif;
  color: #222222;
}
h2 {
  font-family: Ubuntu, sans-serif;
  color: #5E5086;
}
h3 {
  font-family: Ubuntu, sans-serif;
  color: #5E5086;
}

li {
  font-size: 16px
}
ol {
  margin-bottom: 30px
}
footer {
  text-align: center
}
.input-sm {
  margin-left: 20px
}
body {
  padding-top: 50px;
}
body p {
  font-size: 16px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.haskell-logo {
  font-family: Haskell;
  color: #5E5086;
}

div#main, h1, h2, p {
  text-align: left;
}

.sub-heading {
  font-weight: bold;
  font-family: Ubuntu;
  margin-top: -1em;
  margin-bottom:2em;
}

#next-event li span {
  font-size: .75em;
  font-weight: bold;
}

/* A relaxed, less angry-looking list style, man */
.relaxed {
  list-style-type: none;
  padding: 0;
}
.relaxed li {
  padding-top: 0.2em;
  padding-bottom: 0.4em;
}
