---
# Only the top level Sass file needs front matter (the dashes are enough)
---
@font-face {
  font-family: Haskell;
  src:url("{{ "/static/fonts/Haskell.eot" | relative_url }}");
  src:url("{{ "/static/fonts/Haskell.eot?#iefix" | relative_url }}") format("embedded-opentype"),
      url("{{ "/static/fonts/Haskell.woff" | relative_url }}") format("woff"),
      url("{{ "/static/fonts/Haskell.ttf" | relative_url }}") format("truetype"),
      url("{{ "/static/fonts/Haskell.svg#Haskell" | relative_url }}") format("svg");
  font-weight: normal;
  font-style: normal;
}

