<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{{ page.title | markdownify | remove: '<p>' | remove: '</p>' | strip_html }}</title>
  <meta name="description" content="Seattle Area Haskell Users' Group">
  <meta name="author" content="Richard Cook">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/haskell.font.css">
  <link rel="stylesheet" href="/static/css/default.css">
  <link rel="icon" type="image/ico" href="/static/assets/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:700" type="text/css" rel="stylesheet">
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, "js");</script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="haskell-logo">&#57344;</span> SeaHUG</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          {% if page.url == '/' %}<li class="active">{% else %}<li>{% endif %}<a href="/">Home</a></li>
          {% if page.url == '/courses/' %}<li class="active">{% else %}<li>{% endif %}<a href="/courses">Courses</a></li>
          {% if page.url == '/minutes.html' %}<li class="active">{% else %}<li>{% endif %}<a href="/minutes">Minutes</a></li>
          {% if page.url == '/about.html' %}<li class="active">{% else %}<li>{% endif %}<a href="/about">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <header></header>
    <div class="starter-template" id="main" role="main">
      {{ content }}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
      {% if page.page_script %}
      <script src="{{ page.page_script }}"></script>
      {% endif %}
    </div>
    <footer>&copy; 2018, Seattle Area Haskell Users&#39; Group</footer>
  </div>
</body>
</html>
